$color-black-1: #000;
$color-white-1: #fff;
$color-white-transparent-1: rgba(255,255,255,0.9);
$color-blue-1: #4cb5df;
$color-blue-2: #c3e9e4;
$color-blue-3: #0198b3;
$color-blue-4: #007db9;
$color-blue-5: #5eb4cd;
$color-gray-1: #333333;
$color-gray-2: #cccccc;
$color-gray-3: #acacac;
