/* font-family: "PTSansRegular"; */
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSans/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "PTSansItalic"; */
@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSans/PTSansItalic/PTSansItalic.eot");
  src: url("../fonts/PTSans/PTSansItalic/PTSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansItalic/PTSansItalic.woff") format("woff"), url("../fonts/PTSans/PTSansItalic/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "PTSansBold"; */
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSans/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/*****************************************************************************/
/* font-family: "Plumb Bold"; */
@font-face {
  font-family: "PlumbBold";
  src: url("../fonts/Plumb/PlumbBold/PlumbBold.eot");
  src: url("../fonts/Plumb/PlumbBold/PlumbBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Plumb/PlumbBold/PlumbBold.woff") format("woff"), url("../fonts/Plumb/PlumbBold/PlumbBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/*****************************************************************************/
/* font-family: "BlissPro"; */
@font-face {
  font-family: "BlissPro";
  src: url("../fonts/BlissPro/BlissPro/BlissPro.eot");
  src: url("../fonts/BlissPro/BlissPro/BlissPro.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissPro/BlissPro/BlissPro.woff") format("woff"), url("../fonts/BlissPro/BlissPro/BlissPro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "BlissPro Bold"; */
@font-face {
  font-family: "BlissProBold";
  src: url("../fonts/BlissPro/BlissProBold/BlissProBold.eot");
  src: url("../fonts/BlissPro/BlissProBold/BlissProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissPro/BlissProBold/BlissProBold.woff") format("woff"), url("../fonts/BlissPro/BlissProBold/BlissProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "BlissPro Extralight"; */
@font-face {
  font-family: "BlissProExtralight";
  src: url("../fonts/BlissPro/BlissProExtralight/BlissProExtralight.eot");
  src: url("../fonts/BlissPro/BlissProExtralight/BlissProExtralight.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissPro/BlissProExtralight/BlissProExtralight.woff") format("woff"), url("../fonts/BlissPro/BlissProExtralight/BlissProExtralight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "BlissPro Light"; */
@font-face {
  font-family: "BlissProLight";
  src: url("../fonts/BlissPro/BlissProLight/BlissProLight.eot");
  src: url("../fonts/BlissPro/BlissProLight/BlissProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissPro/BlissProLight/BlissProLight.woff") format("woff"), url("../fonts/BlissPro/BlissProLight/BlissProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "BlissPro Medium"; */
@font-face {
  font-family: "BlissProMedium";
  src: url("../fonts/BlissPro/BlissProMedium/BlissProMedium.eot");
  src: url("../fonts/BlissPro/BlissProMedium/BlissProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissPro/BlissProMedium/BlissProMedium.woff") format("woff"), url("../fonts/BlissPro/BlissProMedium/BlissProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/****************************************************************/
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot");
  src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot");
  src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
div, nav, img, ul, li {
  outline: 1px solid red; }

body {
  font-family: 'PlumbBold', PlumbBold, sans-serif;
  color: #000;
  font-size: 20px; }

.fixed {
  position: fixed;
  margin: 0 auto;
  width: 100%; }

/* page styles */
header {
  min-height: 100px;
  font-family: "PlumbBold", PlumbBold, sans-serif; }
  header img.logo {
    float: left;
    width: 207px;
    height: 76px;
    position: relative;
    margin: 8px 0 0 36px; }
  header nav {
    float: right;
    min-width: 100px;
    display: block;
    height: 100px;
    padding-right: 112px; }
    header nav ul {
      list-style: none;
      display: inline-block;
      padding: 0;
      margin: 0;
      font-size: 0; }
      header nav ul li {
        display: inline-block;
        font-size: 16px;
        line-height: 100px;
        padding: 0 15px 0 15px;
        -webkit-transition: all 300ms;
        -o-transition: all 300ms;
        transition: all 300ms;
        overflow: hidden; }
        header nav ul li a {
          color: #000;
          text-decoration: none;
          -webkit-transition: all 300ms;
          -o-transition: all 300ms;
          transition: all 300ms; }
          header nav ul li a:hover {
            color: #4cb5df;
            text-decoration: none; }
        header nav ul li a.active {
          color: #4cb5df; }
  header div.number {
    float: right;
    position: relative;
    line-height: 100px;
    font-size: 30px; }
    header div.number:before {
      content: " ";
      position: absolute;
      top: 32px;
      left: -52px;
      width: 41px;
      height: 41px;
      background: url(../img/icons/phone.png) 0px 0px transparent no-repeat;
      background-size: 100% 100%; }
  header div.burger {
    width: 60px;
    height: 50px;
    cursor: pointer;
    display: none;
    float: right;
    background: url(../img/icons/burger.png) center transparent no-repeat;
    background-size: 20px 20px;
    margin: 8px 0 8px 0px; }

@media screen and (max-width: 1448px) {
  header nav {
    width: 100%;
    height: 50px;
    padding-right: 0px; }
    header nav ul {
      width: 100%;
      display: table; }
      header nav ul li {
        font-size: 16px;
        line-height: 50px;
        padding: 0 0px 0 0px;
        display: table-cell;
        text-align: center; }
        header nav ul li a {
          color: #000;
          text-decoration: none;
          -webkit-transition: all 300ms;
          -o-transition: all 300ms;
          transition: all 300ms; }
          header nav ul li a:hover {
            color: #4cb5df;
            text-decoration: none; }
        header nav ul li a.active {
          color: #4cb5df; } }
@media screen and (max-width: 650px) {
  header nav ul li {
    font-size: 12px; } }
@media screen and (max-width: 650px) {
  header img.logo {
    margin: 8px 0 8px 0px;
    display: block; }

  div.number {
    /*float: none; width: 100%;*/
    text-align: center; }

  div.number:before {
    display: none; } }
@media screen and (max-width: 520px) {
  header img.logo {
    float: left;
    width: 140px;
    height: 50px; }

  div.number {
    display: none; }

  header {
    min-height: 10px; }
    header nav {
      width: 100%;
      height: auto;
      padding-right: 0px; }
      header nav ul {
        width: 100%;
        display: block; }
        header nav ul li {
          font-size: 16px;
          height: 0px;
          line-height: 30px;
          padding: 0 0px 0 0px;
          display: block;
          text-align: center;
          width: 100%; }
          header nav ul li a {
            color: #000;
            text-decoration: none;
            -webkit-transition: all 300ms;
            -o-transition: all 300ms;
            transition: all 300ms; }
            header nav ul li a:hover {
              color: #4cb5df;
              text-decoration: none; }
          header nav ul li a.active {
            color: #4cb5df; }
    header div.burger {
      display: block; } }
