/* font-family: "PTSansRegular"; */
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSans/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "PTSansItalic"; */
@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSans/PTSansItalic/PTSansItalic.eot");
  src: url("../fonts/PTSans/PTSansItalic/PTSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansItalic/PTSansItalic.woff") format("woff"), url("../fonts/PTSans/PTSansItalic/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "PTSansBold"; */
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSans/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/*****************************************************************************/
/* font-family: "Plumb Bold"; */
@font-face {
  font-family: "PlumbBold";
  src: url("../fonts/Plumb/PlumbBold/PlumbBold.eot");
  src: url("../fonts/Plumb/PlumbBold/PlumbBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Plumb/PlumbBold/PlumbBold.woff") format("woff"), url("../fonts/Plumb/PlumbBold/PlumbBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/*****************************************************************************/
/* font-family: "BlissPro"; */
@font-face {
  font-family: "BlissPro";
  src: url("../fonts/BlissPro/BlissPro/BlissPro.eot");
  src: url("../fonts/BlissPro/BlissPro/BlissPro.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissPro/BlissPro/BlissPro.woff") format("woff"), url("../fonts/BlissPro/BlissPro/BlissPro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "BlissPro Bold"; */
@font-face {
  font-family: "BlissProBold";
  src: url("../fonts/BlissPro/BlissProBold/BlissProBold.eot");
  src: url("../fonts/BlissPro/BlissProBold/BlissProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissPro/BlissProBold/BlissProBold.woff") format("woff"), url("../fonts/BlissPro/BlissProBold/BlissProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "BlissPro Extralight"; */
@font-face {
  font-family: "BlissProExtralight";
  src: url("../fonts/BlissPro/BlissProExtralight/BlissProExtralight.eot");
  src: url("../fonts/BlissPro/BlissProExtralight/BlissProExtralight.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissPro/BlissProExtralight/BlissProExtralight.woff") format("woff"), url("../fonts/BlissPro/BlissProExtralight/BlissProExtralight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "BlissPro Light"; */
@font-face {
  font-family: "BlissProLight";
  src: url("../fonts/BlissPro/BlissProLight/BlissProLight.eot");
  src: url("../fonts/BlissPro/BlissProLight/BlissProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissPro/BlissProLight/BlissProLight.woff") format("woff"), url("../fonts/BlissPro/BlissProLight/BlissProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "BlissPro Medium"; */
@font-face {
  font-family: "BlissProMedium";
  src: url("../fonts/BlissPro/BlissProMedium/BlissProMedium.eot");
  src: url("../fonts/BlissPro/BlissProMedium/BlissProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/BlissPro/BlissProMedium/BlissProMedium.woff") format("woff"), url("../fonts/BlissPro/BlissProMedium/BlissProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/****************************************************************/
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot");
  src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot");
  src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
div {
  outline: 1px solid red; }

body {
  font-family: 'PlumbBold', PlumbBold, sans-serif;
  font-size: 20px; }
